<div id="lenbar"> <a [routerLink]="['/administrative']">English</a></div>
<div id="navline"></div>
<div id="administrativo">
</div>
<div class="mybox">
<h2>DERECHO ADMINISTRATIVO</h2>
<p>Para proporcionar a nuestros clientes un apoyo integral en el área de derecho
  administrativo, varios de nuestros abogados se han especializado en el manejo de
  procedimientos administrativos; obtener permisos, concesiones, licencias y autorizaciones
  ante las autoridades administrativas correspondientes; manejando todo tipo de casos en
  asuntos de protección al consumidor; registro de corporaciones, propiedades, derechos
  reales; y registros ante las autoridades en materia de salud. Tenemos amplia experiencia en
  negociación de contratos y disputas con autoridades gubernamentales a nivel federal, local
  y estatal.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="administrativob"></div>
