<div id="abogados">
  <div id="lenbar"><a [routerLink]="['/arias-en']">English</a></div>

  <div style="padding-top:120px" class="row">
    <div class="col s12 m4 offset-m2">
      <a [routerLink]="['/arias']" style="padding-bottom:70px;" class="abogado">
        <h2>Oscar</h2>
        <p class="nopadding" style="padding-bottom:40px">Arias Corona</p>
      </a>
      <a [routerLink]="['/charua']" class="abogado">
        <h2>Elias</h2>
        <p>Charua García</p>
      </a>
    </div>
    <div class="col s12 m4">
      <a [routerLink]="['/macias']" class="abogado">
        <h2>David</h2>
        <p class="nopadding" style="padding-bottom:40px">Macías León</p>
      </a>
      <a [routerLink]="['/prum']" class="abogado">
        <h2>Daniel</h2>
        <p>Prum Charua</p>
      </a>
    </div>
  </div>
</div>
<div class="mybox">
  <h2>Oscar</h2>
  <h3>Arias Corona</h3>
  <h4>TELÉFONO: (52) 1 758 699 23</h4>
  <h4>EMAIL: oscararias@acmyp.com</h4>
  <p class="gray">Oscar Arias Corona es socio de Arias, Charua, Macías & Prum, S.C., se especializa en
    Derecho Transaccional, Contratos, Privacidad y Datos Personales, Telecomunicaciones,
    Seguridad Cibernética, Derecho Sanitario, Publicidad, Derecho Administrativo, Fusiones
    y Adquisiciones y codirige las áreas de Propiedad Intelectual, Derecho del
    Entretenimiento, Farmacéutica y Resolución de Controversias. El licenciado Arias ha
    representado activamente a empresas de México, Estados Unidos, Canadá, América
    Latina y Europa.</p>
  <h5>EDUCACIÓN</h5>
  <p>El licenciado Arias es egresado de la Universidad La Salle en donde recibió su título de
    licenciado en Derecho en 2013; ese mismo año, el licenciado Arias realizó un seminario
    en materia fiscal en la misma universidad. En 2016, el licenciado Arias completó su
    maestría en Derechos Humanos en el Instituto Tecnológico Autónomo de México.</p>
  <h5>ASUNTOS REPRESENTATIVOS</h5>
  <p>El licenciado Arias ha representado empresas importantes ante las autoridades mexicanas
    a nivel federal, estatal y municipal para la protección de derechos en materia de
    Propiedad Intelectual, Licencias y Franquicias, Derecho del Entretenimiento, Derecho
    Constitucional, Derecho Electoral, Derecho Corporativo, incluyendo todo tipo de
    contratos, así como Derecho Administrativo, incluidas todo tipo de demandas y acciones
    ante las autoridades correspondientes.</p>
  <p>El licenciado Arias ha representado diferentes empresas a nivel internacional y nacional
    para la obtención de registros, concesiones, licencias y permisos ante la Secretaría de
    Salud y la Comisión Federal para la Protección contra Riesgos Sanitarios, así como
    procedimientos litigiosos ante dichas autoridades.</p>
  <p>Asimismo, ha representado empresas relacionadas con el registro y protección de todo
    tipo de derechos de propiedad intelectual y la negociación de convenios de transferencia
    de tecnología y asistencia técnica, elaboración y negociación de contratos de licencias y
    franquicias, incluidos procedimientos contenciosos administrativos y judiciales
    relacionados con la violación a derechos de propiedad i intelectual en México, Estados
    Unidos, Canadá, Latinoamérica y Europa, también brindándoles apoyo con la
    transferencia de propiedad intelectual relacionada con transacciones corporativas,
    incluidas marcas, avisos comerciales, patentes, derechos de autor y denominaciones de
    origen, entre otros.</p>
  <p>También ha apoyado a distintas compañías brindando asesoría legal en asuntos
    regulatorios y publicitarios, tomando en consideración las disposiciones aplicables a la
    Comisión Federal para la Protección contra Riesgos Sanitarios y la Procuraduría Federal
    del Consumidor, como ocurrió en la adquisición de Quesos La Esmeralda, donde
    participó durante la auditoría respectiva, asesorando al cliente sobre cuestiones
    relacionadas con el etiquetado y temas de publicidad.</p>
  <p>El licenciado Arias ha representado a clientes en todo tipo de litigios administrativos en
    general, relacionados con cuestiones de publicidad, salud, medio ambiente y propiedad
    intelectual ante las autoridades administrativas correspondientes.</p>
  <p>Respecto a temas de privacidad de datos, ha asesorado a clientes de diferentes industrias y
    sectores en la preparación e implementación de políticas de privacidad internas, avisos de
    privacidad y asesoramiento sobre asuntos legales relacionados, no solo durante sus
    actividades diarias, sino también en el contexto de transacciones corporativas e internas,
    investigaciones de cumplimiento y anticorrupción, donde el licenciado Arias ha apoyado
    fundamentalmente a las compañías farmacéuticas en las investigaciones de los
    contratistas externos y sus actividades en el contexto de los procedimientos aduaneros.</p>
  <h5>PUBLICACIONES Y SEMINARIOS</h5>
  <p>El licenciado Arias ha participado en las siguientes publicaciones “The Data Protection
    and Privacy Global Guide and IP in Business Transactions: Mexico overview” e
    International Comparative Legal Guides Mexico 2018 en relación con seguridad
    cibernética.</p>
  <h5>IDIOMAS</h5>
  <p>El idioma del licenciado Arias es el español y es fluido en el habla y escritura del idioma
    inglés.</p>

  <div style="padding-bottom:50px;"></div>
</div>
