<div id="lenbar"> <a [routerLink]="['/civil']">Español</a></div>

<div id="navline"></div>
<div id="civil">
</div>
<div class="mybox">
  <h2>CIVIL, FAMILY AND COMMERCIAL LAW SERVICES</h2>
  <p>Family Law and Civil Law areas are integrated by specialized attorneys with the aim of providing clients with a complete,
  informed and high-quality service. Our legal team has a highly skill in both courtroom and substantive legal knowledge</p>
<p>Arias, Charua, Macías & Prum offers its clients the performance of marital dissolution by way of trial or by agreement
   the parties; settlement / non-litigation, mediation and litigation in a public court with the recently implemented
   adversarial system in any Civil Law case; child custody and relocation of a minor derived from divorce or separation.</p>
<p>Also, our Firm has a team with extensive experience regarding succession law. We understand the emotional and legal challenges
   a person might go through and therefore, we provide high-level legal services until the conclusion of the succession.</p>
<p>Our group of professionals has represented and entirely defended, under the highest ethical and professional standards, clients
  from various industries, including contract breach between legal entities, creation of trust funds, compliance of fiduciary duty,
  provide legal advice concerning negotiable instruments or promissory notes and any commercial litigation which involves any type of
  dispute that could be arisen.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="civilb"></div>
