<div id="lenbar"> <a [routerLink]="['/litigation']">English</a></div>

<div id="navline"></div>
<div id="litigio">
</div>
<div class="mybox">
  <h2>LITIGIO Y CONSULTORÍA</h2>
<p>La experiencia de Arias, Charua, Macías & Prum en el área de litigio y consultoría se
  destaca en las siguientes áreas:</p>
  <p><span class="li">·Administrativo.</span> El gran grupo de profesionales dedicados a esta área de práctica, ha
    desarrollado e implementado estrategias integrales para la representación y defensa de los
    derechos e intereses de nuestros clientes en todas las disputas legales ante cualquier
    autoridad judicial a nivel federal, estatal y municipal. Nuestra área de litigio ha defendido
    los intereses de sus clientes en los sectores farmacéutico y energético ante las resoluciones
    emitidas en procedimientos de contratación pública, ya sea ante las autoridades
    administrativas o tribunales federales o locales.</p>
  <p><span class="li">·Derecho Civil, Familiar y Mercantil.</span> El área de litigio también ha estado involucrada al
    inicio de juicios civiles y mercantiles, incluyendo quiebras, en los que se han defendido los
    intereses de nuestros clientes para exigir el cumplimiento adecuado de las obligaciones
    contractuales y las eventuales indemnizaciones por daños y perjuicios causadas por estas
    infracciones. Esta área profesional también brinda asesoramiento sobre este tema en todas
    las áreas relacionadas con el Derecho Civil, Familiar y mercantil.</p>
    <p><span class="li">·Derecho laboral y penal.</span> El área de litigio también brinda asesoría y litigio en este tema, se
      han desarrollado e implementado estrategias para la representación y defensa de los
      derechos e intereses de nuestros clientes ante cualquier autoridad judicial.</p>
<p><span class="li">·Constitucional.</span> Los profesionales en esta área de litigio tienen amplia y sólida experiencia
  en materia constitucional, particularmente en los juicios de amparo, surgidos como
  complemento a todas las acciones tomadas en defensa de nuestros clientes, en todas las
  áreas de práctica de nuestra Firma; trabajando en estrecha coordinación con cada una de las
  áreas de práctica respectivas.</p>
<p><span class="li">·Comercio Exterior y Derecho Aduanero.</span> La Firma ha asesorado y representado
  exitosamente a empresas del sector farmacéutico y de dispositivos médicos, entre otras, en
  disputas relacionadas con el comercio exterior relacionadas con la importación de insumos
  para la salud, materias primas, medicamentos y dispositivos médicos.</p>
  <p><span class="li">·Farmacéutico.</span> Nuestro grupo de profesionales ha representado y defendido en su totalidad
    y bajo los más altos estándares éticos y profesionales a varios clientes de la industria
    farmacéutica ante múltiples autoridades administrativas y judiciales, iniciando las acciones
    legales necesarias para exigir a las autoridades sanitarias el monitoreo y verificación de
    productos a fin de garantizar los requisitos de calidad, seguridad y eficacia de conformidad
    con la ley aplicable.</p>
<p><span class="li">·Propiedad Intelectual y Entretenimiento.</span> Nuestro grupo de profesionales ha representado y
  defendido por completo, bajo los más altos estándares éticos y profesionales, clientes de
  diversas industrias y sectores ante las autoridades correspondientes, incluido el Tribunal
  Federal de Justicia Administrativa y diversas autoridades judiciales como los Juzgados de
  Distrito y Tribunales Colegiados de Circuito y ante la Suprema Corte de Justicia de la
  Nación, exigiendo la protección de sus derechos exclusivos, apelando cualquier acto que
  afecte dichos intereses o implique competencia desleal. Además, para proteger los derechos
  derivados de una marca, patente, derecho de autor o cualquier derecho de propiedad
  intelectual, se han iniciado acciones, incluso penales, contra productos apócrifos que tienen
  las marcas de nuestros clientes, así como para evitar la importación de dichos productos.</p>
<p><span class="li">·Privacidad y Datos Personales.</span> Nuestro grupo de profesionales ha representado a clientes
  de varias industrias ante la autoridad competente, así como asesoramiento para la
  preparación de políticas de privacidad, avisos de privacidad y mecanismos para proteger los
  datos personales.</p>
<p><span class="li">·Telecomunicaciones. </span>Nuestro grupo ha brindado asesoramiento a nuestros clientes sobre
  este asunto y esta Firma ha representado a clientes ante el Instituto Federal de
  Telecomunicaciones en asuntos de litigio y consultoría.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="litigiob"></div>
