<div id="lenbar"><a [routerLink]="['/contacto']">Español</a></div>

<div id="contacto">
  <div class="logo"><img id="logohome" src="/assets/logos/LOGO.png"></div>
  <img class="flechaDown" src="/assets/icons/FlechaAbajo.png" alt="ACMyP">
</div>
<div class="mybox">
  <h2 style="margin-top: 0">Mexico City Office</h2>
  <p>Hegel 120, Floor 3, Interior 303-B,</p>
  <p>Polanco,</p>
  <p>Miguel Hidalgo,</p>
  <p>Postal Code 11560 Mexico,</p>
  <p>Mexico City</p>
  <br>
  <p style="color:#3B436A;">Tel. + (52.55) 7586 9923</p>
  <p style="color:#3B436A;">Tel. + (52.55) 7586 9924</p>
  <p style="color:#3B436A;">E-mail info@acmyp.com</p>
  <div style="padding-bottom:50px;"></div>
</div>
