<div id="footer">
  <div class="row" style="margin-bottom: 0">
    <div class="col s12 m4">
      <p class="pMob" style="margin-left:25px;">Consulta nuestro Aviso de Privacidad</p>
    </div>
    <div style="text-align:center" class="col s12 m4">
      <p>Copyright © {{year}} ACM&P - Abogados</p>
    </div>
    <div class="col s12 m4">
      <img [routerLink]="['/home']" src="/assets/logos/LogoSoloCirculo.png" alt="ACMyP">
      <img class="award" src="/assets/logos/Award.jpg" alt="ACMyP">
    </div>
  </div>
</div>
