<div id="lenbar"><a [routerLink]="['/privacy']">English</a></div>

<div id="navline"></div>
<div id="privacidad">
</div>
<div class="mybox">
  <h2>PRIVACIDAD Y DATOS PERSONALES</h2>
  <p>Las áreas de privacidad y datos personales están integradas por abogados especializados
    con el objetivo de proporcionar a los clientes un servicio completo, informado y de alta calidad.
    El desarrollo de nuestra práctica está integrado en el concepto “boutique” para ofrecer servicios
    que satisfagan las necesidades profesionales, personales y de vanguardia de nuestros clientes.
  </p>
  <p>Las áreas de Privacidad y Datos Personales ofrecen a sus clientes servicios de consultoría y asesoría,
    así como adaptación y cumplimiento de proyectos de protección de datos personales (cumplimiento),
    de respuesta al ejercicio de derechos ARCO por parte de los titulares, implementación de políticas de
    protección de datos personales, entre otros.</p>

  <p>Arias, Charua, Macías & Prum ofrece a sus clientes la realización de un Due Diligence en el marco
    de la legislación sobre Protección de Datos Personales y analizar si las empresas cumplen con los
    requisitos establecidos por la Ley Federal de Protección de Datos Personales en Posesión de los
    Particulares, su Reglamento, Lineamientos del Aviso de Privacidad, Recomendaciones sobre seguridad
    de datos personales y otras leyes relacionadas con la protección de datos.</p>
  <p>Es importante mencionar que la autoridad competente a cargo de monitorear la correcta
    aplicación de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares
    puede requerir, investigar y verificar el cumplimiento de las disposiciones previstas por la ley.
    El servicio de asesoramiento y representación ante la autoridad competente tiene como objetivo
    brindar certeza jurídica a los responsables de los datos personales dentro de los procesos iniciados
    por dicha autoridad, asegurando que en todo momento del proceso tenga el mejor asesoramiento para
    responder a los requisitos notificados, proporcionar los pertinentes información y, en su caso,
    erradicación o minimización del efecto que puedan tener estos procesos.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="privacidadb"></div>
