<div id="lenbar"><a [routerLink]="['/contact']">English</a></div>
<div id="contacto">
  <div class="logo"><img id="logohome" src="/assets/logos/LOGO.png"></div>
  <img class="flechaDown" src="/assets/icons/FlechaAbajo.png" alt="ACMyP">
</div>
<div class="mybox">
  <h2 style="margin-top: 0">OFICINA CIUDAD DE MÉXICO</h2>
  <p>Hegel 120, Piso 3, Interior 303-B,</p>
  <p>Colonia Polanco, Delegación</p>
  <p>Miguel Hidalgo,</p>
  <p>Código Postal 11560 México,</p>
  <p>Ciudad de México</p>
  <br>
  <p style="color:#3B436A;">Tel. (52.55) 7586 9923</p>
  <p style="color:#3B436A;">Tel. (52.55) 7586 9924</p>
  <p style="color:#3B436A;">E-mail info@acmyp.com</p>

  <div style="padding-bottom:50px;"></div>
</div>
