<div id="lenbar"><a [routerLink]="['/about']">English</a></div>

<div id="nosotros">
  <div class="logo"><img id="logohome" src="/assets/logos/LOGO.png"></div>
  <img class="flechaDown" src="/assets/icons/FlechaAbajo.png" alt="ACMyP">
</div>
<div class="mybox">
  <h2>MISIÓN</h2>
  <p>Ofrecer servicios legales de alto nivel, con atención personalizada, para entender y
    resolver los problemas de nuestros clientes.</p>
  <h2>VISIÓN</h2>
  <p>Ser una referencia mundial en la prestación de servicios legales, destacándonos por
    nuestro amplio conocimiento legal, así como en las actividades y necesidades de
    nuestros clientes.</p>
  <h2>CULTURA ORGANIZACIONAL</h2>
  <p>Los miembros de nuestra Firma están enfocados en brindar un servicio de excelencia y en
    ser considerados la primera opción por sus clientes; siempre buscando la actualización
    continua de sus miembros, para mantenerse a la vanguardia de los entornos legales y
    comerciales a nivel mundial.</p>
  <h2>VALORES</h2>
  <p>Innovación, profesionalismo y dedicación en los servicios legales prestados a nuestros
    clientes, brindar asesoría y asesoramiento legal desde una perspectiva global acorde con el
    marco legal y el estímulo de la innovación y el emprendimiento.</p>
  <div style="padding-bottom:50px;"></div>
</div>
