<div id="lenbar"> <a [routerLink]="['/property']">English</a></div>

<div id="navline"></div>
<div id="propiedad">
</div>
<div class="mybox">
  <h2>PROPIEDAD INTELECTUAL Y ENTRETENIMIENTO</h2>
  <p>Nuestra área de propiedad intelectual y entretenimiento es una de las principales prácticas
    de la Firma. Dentro del desarrollo de sus actividades, el grupo de profesionales que integran
    esta área ha representado una variedad de empresas extranjeras y nacionales dedicadas a
    diferentes áreas de la industria y servicios a escala global, en una variedad de asuntos
    relacionados con marcas, patentes, secretos comerciales, derechos de autor, nombres de
    dominio y otros derechos de propiedad intelectual.</p>
<p>La práctica de este grupo también incluye el desarrollo de procesos de búsqueda y registro
  previo de marcas y servicios, obtención de patentes, protección de secretos industriales,
  registro de todo tipo de derechos de autor y derechos conexos, incluidos programas
  informáticos, así como la protección y recuperación de nombres de dominio, páginas y
  blogs en las redes sociales.</p>
<p>Del mismo modo, este grupo participa en negociaciones de diversos tipos de contratos,
  como licencias y transmisión de todo tipo de derechos de propiedad intelectual, contratos
  de franquicias, transferencia de tecnología y asistencia técnica, contratos de edición literaria
  y musical, convenios de colaboración remunerada, incluidas las incorporaciones de
  franquicia y todos los contratos derivados de dicha incorporación, entre otros.</p>
<p>Este grupo también participa activamente en la identificación y negociación de regalías
  para el desempeño público con diferentes gobiernos corporativos, licencias para
  producciones musicales.</p>
<p>Además, el grupo está constantemente involucrado en la gestión de procedimientos
  administrativos y judiciales y procedimientos contenciosos, incluido el juicio de Amparo en
  defensa y protección de todo tipo de derechos de propiedad intelectual, incluido el manejo
  de acciones criminales para combatir productos apócrifos.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="propiedadb"></div>
