<div id="lenbar"> <a [routerLink]="['/corporative']">English</a></div>
<div id="navline"></div>
<div id="corporativo">
</div>
<div class="mybox">
  <h2>CORPORATIVO</h2>
  <p>En Arias, Charua, Macías y Prum, proporcionamos servicios legales en todos los aspectos
  de la práctica de derecho corporativo. Nuestro grupo de profesionales en esta área tienen
  años de experiencia sirviendo a clientes a nivel nacional e internacional, con las más
  diversas necesidades y los más altos estándares de servicio y sofisticación. Entre nuestros
  clientes se incluyen empresas líderes a nivel mundial en sectores como tecnología, software
  y sistemas informáticos, cosméticos, automotriz, industria alimentaria, industria de la
  aviación, hotelería y turismo, proveedores de la industria petrolera, entre otros.</p>
  <p>Asesoramos a nuestros clientes en la constitución de sociedades (mercantiles y civiles) y
  asociaciones, atendiendo las necesidades que surgen del segmento de la industria y / o
  comercio en el que se enfocan sus actividades y planes a mediano y largo plazo, brindando
  servicios en inversión extranjera, así como en la obtención de permisos y licencias
  necesarios para la operación.</p>
  <p>Nuestros servicios también se extienden a la prestación de servicios corporativos en el
  curso ordinario de los negocios de nuestros clientes, incluyendo asesoramiento sobre la
  preparación, revisión y negociación de todo tipo de contratos civiles y mercantiles, y
  mantenimiento, actualización y mantenimiento de libros corporativos. Adicionalmente,
  brindamos servicios relacionados con la apertura y administración de sucursales y
  franquicias de empresas extranjeras en México, incluyendo, también empresas mexicanas.</p>
  <p>La Firma representa grupos corporativos y / o inversión nacional y extranjera en la
  adquisición y / o fusión con entidades mexicanas, y en ocasiones también representamos
  entidades mexicanas adquiridas. En ambos casos, brindamos servicios de auditoría legal
  para anticipar las posibles contingencias de la operación, ubicar áreas de oportunidad y
  ayudar a determinar el valor de la Compañía que se adquirirá. Además, en nombre del
  comprador, preparamos la documentación legal de la transacción (específicamente
  contratos para la venta de acciones y / o asociación, con todos los documentos adjuntos y
  contratos accesorios) y llevamos a cabo la negociación con la contraparte.</p>
  <p>Asimismo, en los casos anteriores, estamos directamente involucrados en el procesamiento
  y obtención de las autorizaciones, permisos, licencias y concesiones requeridas para el
  funcionamiento de nuestros clientes, y asesoramos en avisos a entidades gubernamentales,
  incluyendo notificaciones, resoluciones y dictámenes.</p>
<p>También proporcionamos servicios para el desarrollo de mecanismos para anticipar y
  gestionar de manera eficiente y efectiva los conflictos potenciales entre los accionistas; en
  este sentido, hemos representado a grupos de accionistas de empresas mexicanas en la
  implementación de acciones corporativas para defender sus intereses frente a otros
  accionistas y la propia empresa en asuntos internos de control corporativo, generalmente en
  coordinación con áreas de litigios mercantiles y civiles.</p>
<p>Dependiendo de cada proyecto u operación, dependemos de otras áreas de especialidad de
  la empresa, a fin de proporcionar servicios integrales con los más altos estándares de calidad
  y eficiencia.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="corporativob"></div>
