<div id="lenbar"> <a [routerLink]="['/administrativo']">Español</a></div>

<div id="navline"></div>
<div id="administrativo">
</div>
<div class="mybox">
<h2>ADMNISTRATIVE LAW SERVICES</h2>
<p>We provide our clients with comprehensive support in the area of administrative law,
  several of our attorneys have specialized in handling administrative proceedings;
  processing recording in public registries; obtaining permits, licenses, and authorizations
  from government agencies; handling all manner of cases in consumer protection matters;
  registration of corporations, properties, rights in rem and products; and health department
  registrations. We have broad experience in contract negotiation and disputes with
  government agencies.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="administrativob"></div>
