<div id="lenbar"> <a [routerLink]="['/technology']">English</a></div>

<div id="navline"></div>
<div id="tecnologia">
</div>
<div class="mybox">
  <h2>TECNOLOGÍA</h2>
<p>Nuestra firma cuenta con un equipo con amplia experiencia apoyando a empresas
  dedicadas a la industria de la tecnología; de manera similar, el grupo de trabajo dedicado a
  esta área también ha estado involucrado en brindar asesoramiento legal para el registro y la
  protección de derechos relacionados con esta industria, hemos participado en el desarrollo
  de fusiones y adquisiciones, productos y soluciones tecnológicas, así como la compra de
  infraestructura tecnológica.</p>
<p>El equipo también busca asesorar a los empresarios sobre las posibilidades de proteger sus
  ideas y conceptos.</p>
<p>Con el fin de cumplir con los diversos requisitos que necesitan las empresas dedicadas a este
  sector, nuestro equipo opera en coordinación con áreas de propiedad intelectual, litigios,
  derecho administrativo y corporativo.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="tecnologiab"></div>
