<div id="lenbar"> <a [routerLink]="['/macias']">Español</a></div>

<div id="abogados">
  <div style="padding-top:120px"class = "row">
    <div class="col s12 m4 offset-m2">
      <a [routerLink]="['/arias-en']" style="padding-bottom:70px;"class="abogado">
        <h2>Oscar</h2>
        <p class="nopadding" style="padding-bottom:40px">Arias Corona</p>
      </a>
      <a [routerLink]="['/charua-en']" class="abogado">
        <h2>Elias</h2>
        <p>Charua García</p>
      </a>
    </div>
    <div class="col s12 m4">
      <a [routerLink]="['/macias-en']" class="abogado">
        <h2>David</h2>
        <p class="nopadding"  style="padding-bottom:40px">Macías León</p>
      </a>
      <a [routerLink]="['/prum-en']" class="abogado">
        <h2>Daniel</h2>
        <p>Prum Charua</p>
      </a>
    </div>
  </div>
</div>
<div class="mybox">
<h2>DAVID</h2>
  <h3>Macías León</h3>
  <h4>TELÉFONO: + (52) 1 758 699 23</h4>
<h4>EMAIL: davidmacias@acmyp.com</h4>
<p class="gray">David Macias Leon is a founding partner of Arias, Charua, Macías & Prum, S.C.,
specialized in Civil Law, Family Law, Commercial Law and Real Estate. Mr. Macias has
actively represented companies from Mexico, the United States, Latin America and
Europe.</p>
  <h5>EDUCATION</h5>
<p>Mr. Macias received his law degree in 2015 from Universidad Iberoamericana. He is
currently studying his master degree in “Civil and Commercial Law” at Universidad
Anáhuac.</p>
  <h5>REPRESENTATIVE MATTERS</h5>
<p>Mr. Macias has represented different international and domestic legal entities in the
  negotiation of agreements, contract breach between companies, trust funds, compliance
  of fiduciary duty, negotiable instruments, promissory notes and commercial litigation
  that involves any dispute that could be arisen. Also, has advised different companies
  regarding business and civil disputes, including contract claims, joint venture and
  corporate law, bankruptcy litigation, real estate litigation, insurance coverage, including
  litigation and Family Law.</p>
<p>He has also assisted our clients by providing legal advice in succession procedures,
  marital dissolution, settlement agreements / non-litigation, mediation and litigation in a
  public court with the recently implemented adversarial system.</p>
<p>Mr. Macias has participated in several civil disputes derived from leases, loans, donations,
  purchases, mortgages, usufruct, real estate, among others.</p>

<h5>LANGUAGES</h5>
<p>Mr. Macias native language is Spanish and he is fluent in spoken and written English.</p>
  <div style="padding-bottom:50px;"></div>
</div>
