<div id="lenbar"> <a [routerLink]="['/pharmaceutical']">English</a></div>

<div id="navline"></div>
<div id="farmaceutico">
</div>
<div class="mybox">
  <h2>FARMACÉUTICO</h2>
  <p>Como parte de sus actividades profesionales, este grupo ha representado a muchas de las
    compañías farmacéuticas, biotecnológicas, médicas, de productos químicos y de sanidad
    animal más grandes y exitosas del mundo, así como a una larga lista de laboratorios
    nacionales reconocidos que buscan asesoramiento legal completo, en la mayoría de los
    casos, asuntos importantes en el sector de la salud y la ciencia de la vida que surgen de la
    aplicación de la ley mexicana.</p>
<p>Nuestra práctica incluye asesorar a clientes en asuntos relacionados con la implementación
  de regulaciones sanitarias por parte de las autoridades mexicanas para productos
  farmacéuticos, dispositivos médicos, salud animal, herbolarios y productos
  biotecnológicos, químicos, fungicidas y herbicidas, procedimientos para obtener
  autorizaciones de comercialización, permisos, licencias y registros de salud, así como el
  cumplimiento y la protección de los derechos de propiedad intelectual relacionados con
  estos productos (patentes, datos clínicos y litigio de patentes).
  Asimismo, nuestro grupo ha asesorado a clientes en temas relacionados con la renovación,
  cancelación y anulación de autorizaciones para comercializar productos farmacéuticos,
  biotecnología, alimentos, ingredientes, aditivos, suministros, productos químicos,
  fungicidas y herbicidas, sustancias peligrosas, dispositivos médicos, productos a base de
  hierbas, animales salud, psicotrópicos y narcóticos; obtención y cancelación de licencias
  sanitarias para todo tipo de servicios relacionados con la fabricación, comercialización y
  almacenamiento de dichos establecimientos de productos; el cumplimiento de
  lineamientos y Normas Oficiales Mexicanas, así como con buenas prácticas de fabricación
  de medicamentos, alimentos, ingredientes, aditivos, suministros, dispositivos médicos,
  productos químicos, fungicidas y herbicidas y materiales tóxicos, así como con la
  publicidad de los productos antes mencionados.</p>
<p>Además, este grupo de profesionales ha atendido a clientes en estrategia e implementación
  para resolver situaciones de riesgo para la salud, como la retirada de productos con efectos
  adversos o que puedan poner en peligro la salud de personas o animales y la adopción de
  medidas de seguridad como el cierre de establecimientos y sanciones por parte de las
  autoridades de salud. También ha desarrollado una considerable experiencia en el
  asesoramiento en todo tipo de compras gubernamentales relacionadas de productos
  farmacéuticos, biotecnológicos, alimenticios, ingredientes, aditivos, suministros, químicos,
  fungicidas y herbicidas, sustancias peligrosas, dispositivos médicos, productos herbales,
  eventos de salud y psicotrópicos y narcóticos.</p>
<p>Además, nuestro grupo dedicado en el área farmacéutica trabaja en coordinación con las
  áreas de propiedad intelectual, litigio, derecho administrativo y corporativo de la Firma,
  con el fin de cumplir con los requisitos de las empresas dedicadas a los sectores de salud
  humana y animal.</p>
<p>Nuestro grupo de profesionales no son químicos, médicos o técnicos. Para que nuestros
  clientes se sientan cómodos, toda nuestra asistencia técnica (ingenieros, químicos, médicos
  y otros especialistas en salud) requerida para cada uno de los casos se subcontrata de forma
  independiente. Otra alternativa es que los problemas que requieran asistencia técnica los
  proporcionen directamente nuestros clientes.</p>
  <p>Finalmente, nuestro grupo ha brindado servicios legales a organizaciones sin fines de lucro
    o no gubernamentales en relación a la legislación en materia de salud que rigen la
    protección de datos biotecnológicos, genéricos y clínicos en México.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="farmaceuticob"></div>
