<div id="lenbar"> <a [routerLink]="['/telecomunications']">English</a></div>

<div id="navline"></div>
<div id="telecomunicaciones">
</div>
<div class="mybox">
  <h2>TELECOMUNICACIONES</h2>
  <p>Nuestra práctica de telecomunicaciones incluye asesoría en todo tipo de transacciones, así
como en asuntos regulatorios. Prestamos servicios para la adquisición e inversión en
empresas y negocios de telecomunicaciones en México; para obtener concesiones y
permisos de las autoridades competentes; y en negociaciones sobre interconexiones,
suministro de capacidad y reventa de servicios.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="telecomunicacionesb"></div>
