<div id="lenbar"> <a [routerLink]="['/tecnologia']">Español</a></div>

<div id="navline"></div>
<div id="tecnologia">
</div>
<div class="mybox">
  <h2>TECHNOLOGY</h2>
<p>Our Firm has a team with extensive experience serving companies engaged in the
  technology industry. Similarly, the working group dedicated to this area has also been
  involved in providing legal advice for the registration and licensing protection of rights
  related to this industry; we have participated in the development of mergers and
  acquisitions, products and technological solutions, as well as buying technology
  infrastructure.</p>
<p>The team also seeks to advise entrepreneurs about the possibilities of protecting their ideas
  and concepts.</p>
<p>In order to meet the various requirements that companies engaged in this sector need, our
  team operates in coordination with areas of intellectual property, litigation, administrative
  and corporate law.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="tecnologiab"></div>
