<div id="lenbar"><a [routerLink]="['/privacidad']">Español</a></div>

<div id="navline"></div>
<div id="privacidad">
</div>
<div class="mybox">
  <h2>DATA PRIVACY AND PERSONAL DATA</h2>
  <p>Data Privacy and Personal Data areas are integrated by specialized lawyers with the aim of
    providing clients with a complete, informed and high-quality service. The development of
    our practice is integrated into the “boutique” concept in order to provide services that
    satisfy professional, personal and avant-garde needs to our clients.</p>
  <p>Data Privacy and Personal Data areas offers its clients consulting and advisory services,
    such as adaptation and compliance projects regarding personal data protection
    (compliance), transfer agreements and national and international data processing orders,
    development of mechanisms and measures of self-regulation (codes of conduct), design
    and implementation of the response system to the exercise of rights by the holders,
    implementation of personal data protection policies, among others.</p>
  <p>Arias, Charua, Macías & Prum offers its clients the performance of a Due Diligence within
    the framework of the relevant regultation regarding Personal Data Protection and analyze
    the companies in order to comply with the requirements provided by the Federal Data
    Protection Law, its Regulations, Privacy Notice Guideliness, the Recommendations on
    Personal Data Security and other legislation related to data protection.</p>
  <p>It is important to mention that the relevant authority in charge of overseeing the proper
    application of the Federal Data Protection Law may require, investigate and verify
    compliance with the provisions provided by law. The counseling service and representation
    before the relevant authority aims to provide legal certainty to those responsible for
    personal data within the processes initiated by that authority, ensuring that at all times the
    process have the best advice to respond to the notified requirements, provide the pertinent
    information and eradicate or minimize the effect that these processes may entail.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="privacidadb"></div>
