<div id="lenbar"> <a [routerLink]="['/litigio']">Español</a></div>

<div id="navline"></div>
<div id="litigio">
</div>
<div class="mybox">
  <h2>LITIGATION AND COUNSELING</h2>
<p>Arias, Charua, Macías & Prum experience on litigation and counseling area is highlighted
in the following areas:</p>
  <p><span class="li">·Administrative.</span> Our group of professionals dedicated to this area of practice has developed
and implemented comprehensive strategies for the representation and defense of the rights
and interests of our clients in all legal disputes before any judicial authority in federal, state
and municipal levels. Public Procurement. Our litigation area has defended the interests of
its clients in the pharmaceutical and energy sectors before resolutions issued in proceedings
of government procurement, either before the administrative authorities or the courts.</p>
  <p><span class="li">·Civil, Familiar and Commercial Law.</span> The area of litigation has also been involved at the
start of civil and commercial trials, including bankruptcies, in which the interests of our
clients have been defended in order to demand proper fulfillment of contractual obligations
and the eventual compensations for damages and loss profits caused by these breaches. This
professional area also provides counseling on this subject in all areas related to Civil,
Familiar and Commercial Law.</p>
    <p><span class="li">·Labor and Criminal Law.</span> Our litigation area provides counseling and litigation. Our group
has developed and implemented strategies for the representantion and defense of rights and
interests of clients before any judicial authority.</p>
<p><span class="li">·Constitutional.</span> We have extensive and solid experience in constitutional matters,
particularly in writs of amparo, arising under and in complement to all actions taken in
defense of our clients, in all areas of practice of our Firm; working in close coordination
with each of the respective areas of practice.</p>
<p><span class="li">·Foreign Trade and Customs</span> The Firm has advised and successfully represented companies
in the pharmaceutical sector and medical devices, among others, in disputes related to
foreign trade related to the import of health inputs, raw materials, medicines and medical
devices.</p>
  <p><span class="li">·Pharmaceutical.</span> Our group of professionals has represented and defended in full and under
the highest ethical and professional standards to various clients in the pharmaceutical
industry before multiple administrative and judicial authorities, initiating the legal
necessary actions to demand from the sanitary authorities the monitoring and verification
of products as to ensure the compliance with quality, safety and effectiveness requirements.</p>
<p><span class="li">·Intellectual Property and Entertainment.</span> Our group of professionals has represented and
entirely defended and under the highest ethical and professional standards, clients from
various industries before the corresponding agencies, including the Federal Court of
Administrative Justice and to the various agencies of the Federal Court System including
District Courts and Collegiate Circuit Courts, and before Mexico ́s Supreme Court of
Justice, demanding respect for their exclusive rights, appealing any act or administrative
ruling that goes against them or involving unfair competition. As well, as to protect
trademark rights, actions have been initiated, even criminal, against counterfeit products
holding our clients’ brands and to prevent the import of said products.</p>
<p><span class="li">·Data Privacy.</span> Our group of professionals has represented clients from varios industries
before the relevant authority, as well as, counseling for preparing privacy policies, privacy
notices and provide mechanisms to secure the personal data.</p>
<p><span class="li">·Telecommunications. </span> Our group has provided to our clients counseling on this matter and
this Firm has represented clients before the Federal Institute of Telecommunications on
litigation matters.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="litigiob"></div>
