<div id="lenbar"> <a [routerLink]="['/realestate']">English</a></div>

<div id="navline"></div>
<div id="inmobiliario">
</div>
<div class="mybox">
<h2>DERECHO INMOBILIARIO</h2>
<p>Tenemos amplia experiencia en transacciones inmobiliarias altamente complejas.
Asesoramos a una amplia variedad de clientes en negociaciones sobre planificación,
construcción, operación y administración de complejos de oficinas, comerciales, turísticos,
residenciales e industriales.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="inmobiliariob"></div>
