#abogados {
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75%;
  background-image: url(/assets/images/abogados.jpg);
  background-position: center;

  a:hover {
    h2 {
      color: #000;
    }

    p {
      color: #000;
    }
  }

  h2 {
    font-size: 60px;
    font-family: 'MinionProIt';
    color: #3B436A;
    text-align: center;
  }

  p {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #3B436A;
    font-size: 28px;
    margin-top: -10px;
    margin-bottom: 30px;
    font-family: 'MinionProIt';
  }
}

.mybox {
  background-color: #fff;
  padding-left: 20%;
  padding-right: 20%;

  h2 {
    padding-top: 50px;
    color: #3B436A;
    font-size: 60px;
    font-family: 'MinionProIt';
    text-align: center;
  }

  h3 {
    font-size: 30px;
    text-align: center;
    font-family: MinionProIt;
    margin-top: -10px;
    margin-bottom: 40px;
    color: #3B436A;
  }

  h4 {
    font-size: 26px;
    color: #717171;
    font-family: 'MinionProMedium';
  }

  h5 {
    font-size: 20px;
    font-family: MinionPro;
    color: #3B436A;
  }

  .gray {
    color: #808080 !important;
    margin-top: 40px !important;
    padding-bottom: 20px !important;
  }

  p {
    color: #000;
    font-size: 20px;
    font-family: 'MinionPro';
    text-align: left;
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .mybox {
    h2 {
      font-size: 40px !important;
    }

    h4 {
      font-size: 14px !important;
    }

    h3 {
      font-size: 24px !important;
    }

    h5 {
      font-size: 16px !important;
    }
  }
}
