<div id="abogados">
  <div id="lenbar"> <a [routerLink]="['/charua-en']">English</a></div>
  <div style="padding-top:120px"class = "row">
    <div class="col s12 m4 offset-m2">
      <a [routerLink]="['/arias']" style="padding-bottom:70px;"class="abogado">
        <h2>Oscar</h2>
        <p class="nopadding" style="padding-bottom:40px">Arias Corona</p>
      </a>
      <a [routerLink]="['/charua']" class="abogado">
        <h2>Elias</h2>
        <p>Charua García</p>
      </a>
    </div>
    <div class="col s12 m4">
      <a [routerLink]="['/macias']" class="abogado">
        <h2>David</h2>
        <p class="nopadding"  style="padding-bottom:40px">Macías León</p>
      </a>
      <a [routerLink]="['/prum']" class="abogado">
        <h2>Daniel</h2>
        <p>Prum Charua</p>
      </a>
    </div>
  </div>
</div>
<div class="mybox">
<h2>ELIAS</h2>
  <h3>Charua García</h3>
  <h4>TELÉFONO: (52) 1 758 699 23</h4>
  <h4>EMAIL: eliascharua@acmyp.com</h4>
<p class="gray">Elías Charua García es socio fundador de Arias, Charua, Macías & Prum, S.C., se
  especializa en Derecho Penal, Contratos, Derecho Sanitario, Publicidad, Derecho
  Administrativo y codirige las áreas de Propiedad Intelectual, Derecho del
  Entretenimiento, Farmacéutica y Resolución de Controversias. El Licenciado Charua ha
  representado activamente a empresas de México, Estados Unidos, América Latina y
  Europa.</p>
  <h5>EDUCACIÓN</h5>
<p>El licenciado Charua es egresado de la Universidad Iberoamericana en donde recibió su
  título de licenciado en Derecho en 2014. Actualmente se encuentra cursando la maestría
  en Juicio Oral en el Centro de Estudios Jurídicos Carbonell, misma que concluirá en
  2018.</p>
  <h5>ASUNTOS REPRESENTATIVOS</h5>
  <p>El licenciado Charua ha representado empresas importantes ante las autoridades
    mexicanas a nivel federal, estatal y municipal para la protección de derechos en materia
    de Propiedad Intelectual, Licencias y Franquicias, Derecho del Entretenimiento, así como
    Derecho Administrativo, incluidas todo tipo de demandas y acciones ante las autoridades
    correspondientes.</p>
<p>El licenciado Charua ha representado empresas nacionales y extranjeras, así como
  personas físicas a la implementación de todo tipo de consultoría y litigio para la
  protección de derechos de propiedad intelectual ante la Procuraduría General de la
  República en relación con el uso no autorizado de dichos derechos.
  También ha representado diferentes empresas a nivel internacional y nacional para la
  obtención de registros, concesiones, licencias y permisos ante la Secretaría de Salud y la
  Comisión Federal para la Protección contra Riesgos Sanitarios, así como procedimientos
  litigiosos ante dichas autoridades.</p>
  <p>Asimismo, ha representado empresas relacionadas con el registro y protección de todo
    tipo de derechos de propiedad intelectual y la negociación de acuerdos de transferencia
    de tecnología y asistencia técnica, elaboración y negociación de contratos de licencias y
    franquicias, incluidos procedimientos contenciosos administrativos y judiciales
    relacionados con la violación a derechos de propiedad intelectual en México y Estados
    Unidos, Canadá, Latinoamérica y Europa, también brindándoles apoyo con la
    transferencia de propiedad intelectual relacionada con transacciones corporativas,
    incluidas marcas, avisos comerciales, patentes, derechos de autor y denominaciones de
    origen.</p>
  <h5>PUBLICACIONES Y SEMINARIOS</h5>
<p>El licenciado Charua ha participado en diferentes artículos en materia constitucional
  publicados por la Universidad Iberoamericana, específicamente, el artículo denominado
  “La Objeción de Conciencia: El Contrapeso de la Legalidad”, “IUS IBERO”, 2013.</p>
<h5>IDIOMAS</h5>
<p>El idioma del licenciado Charua es el español y es fluido en el habla y escritura del
  idioma inglés.</p>
  <div style="padding-bottom:50px;"></div>
</div>
