<div id="lenbar"> <a [routerLink]="['/penal']">Español</a></div>

<div id="navline"></div>
<div id="penal">
</div>
<div class="mybox">
  <h2>CRIMINAL LAW SERVICES</h2>
  <p>Arias, Charua, Macías & Prum defends individuals and entities in high stakes criminal litigation and government investigations.

  <p>Also, our group of professionals has represented and entirely defended Intellectual Property Rights before the General Attorney
     Office (Procuraduría General de la República).</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="penalb"></div>
