<div id="lenbar"> <a [routerLink]="['/charua']">Español</a></div>

<div id="abogados">
  <div style="padding-top:120px"class = "row">
    <div class="col s12 m4 offset-m2">
      <a [routerLink]="['/arias-en']" style="padding-bottom:70px;"class="abogado">
        <h2>Oscar</h2>
        <p class="nopadding" style="padding-bottom:40px">Arias Corona</p>
      </a>
      <a [routerLink]="['/charua-en']" class="abogado">
        <h2>Elias</h2>
        <p>Charua García</p>
      </a>
    </div>
    <div class="col s12 m4">
      <a [routerLink]="['/macias-en']" class="abogado">
        <h2>David</h2>
        <p class="nopadding"  style="padding-bottom:40px">Macías León</p>
      </a>
      <a [routerLink]="['/prum-en']" class="abogado">
        <h2>Daniel</h2>
        <p>Prum Charua</p>
      </a>
    </div>
  </div>
</div>
<div class="mybox">
<h2>ELIAS</h2>
  <h3>Charua García</h3>
  <h4>TELÉFONO: + (52) 1 758 699 23</h4>
  <h4>EMAIL: eliascharua@acmyp.com</h4>
<p class="gray">Elías Charua García is a founding partner of Arias, Charua, Macías & Prum, S.C.,
specializing in Criminal Law, Agreements, Health Law, Advertising, Administrative and is
the co-head of the areas of Intellectual Property, Entertainment Law, Pharmaceutical and
Dispute Resolution. Mr. Charua has actively represented companies from Mexico, the
United States, Latin America and Europe.</p>
  <h5>EDUCATION</h5>
<p>Mr. Charua received his law degree in 2014 from Universidad Iberoamericana. In 2018
Mr. Charua will complete his master degree in “Adversarial System” at Centro de Estudios
Jurídicos Carbonell.</p>
  <h5>REPRESENTATIVE MATTERS</h5>
<p>Mr. Charua has also assisted our clients by providing legal advice and litigation strategies
  regarding the protection of Intellectual Property Rights before the General Attorney
  Office regarding the infringement of the Industrial Property Law and the Mexican
  Copyright Law.</p>
<p>Mr. Charua represents major enterprises before Mexican government authorities for the
  protection of rights in matters of Intellectual Property Law, Licenses and Franchises,
  Entertainment Law, Contract Law and Administrative Counseling and Litigation,
  including Amparo claims before federal authorities.</p>
<p>Mr. Charua represents different international and domestic corporations in obtaining
  registrations, licenses and permits from the Secretaría de Salud (Ministry of Health) and
  the Comisión Federal para la Protección contra Riesgos Sanitarios (Federal Commission
  for Protection from Health Risks) and prosecution of several administrative proceedings
  against authorities of the Secretaría de Salud (Ministry of Health), the Comisión Federal
  para la Protección contra Riesgos Sanitarios (Federal Commission for Protection from
  Health Risks).</p>
  <p>As well, companies concerning registration and protection of all sorts of intellectual
    property rights and technical assistance agreements, and licensing and franchising
    arrangements, including administrative and judicial proceedings concerning
    infringement of trademarks, copyrights, patents and industrial secrets.</p>
<p>Mr. Charua has advised different companies regarding all types of industries, to protect
  and defend their intellectual property rights in Mexico and the United States, Latin
  America and Europe, also supporting them with the transfer of intellectual property
  regarding corporate transactions including trademarks, copyrights and appellations of
  origin, as occurred during the acquisition of different transactions.</p>
  <h5>PUBLICATIONS AND SEMINARS</h5>
<p>Mr. Charua has participated in constitutional articles issued by the Universidad
Iberoamericana, specifically “La Objeción de Conciencia: El Contrapeso de la Legalidad”,
“IUS IBERO”, 2013.</p>
<h5>LANGUAGES</h5>
<p>Mr. Charua’s native language is Spanish and he is fluent in spoken and written English.</p>
  <div style="padding-bottom:50px;"></div>
</div>
