<div id="navline"></div>
<div id="lenbar"> <a [routerLink]="['/civil-en']">English</a></div>

<div id="civil">
</div>
<div class="mybox">
  <h2>DERECHO CIVIL, FAMILIAR Y MERCANTIL</h2>
  <p>Las áreas de derecho de familia y derecho civil están integradas por abogados especializados
  con el objetivo de proporcionar a los clientes un servicio completo, informado y de alta
  calidad. Nuestro equipo legal tiene una gran habilidad para el desarrollo de cada uno de los
  asuntos tanto en materia de consultoría como en materia de litigio.</p>
<p>Arias, Charua, Macías & Prum ofrece a sus clientes la realización de la disolución conyugal,
  ya sea por, solicitud de una de las partes o por acuerdo de ambas partes; liquidación de la
  sociedad conyugal, mediación y litigio en un los juzgados correspondientes a través del
  sistema acusatorio recientemente implementado en cualquier caso de Derecho Civil; así
  como custodia y reubicación de un menor por divorcio o separación.</p>
<p>Además, nuestra Firma cuenta con un equipo con amplia experiencia en derecho sucesorio
  proporcionando a cada uno de nuestros clientes servicios legales de alto nivel hasta la
  conclusión de la sucesión.</p>
<p>Nuestro grupo de profesionales ha representado y defendido por completo y bajo los más
  altos estándares éticos, de calidad y profesionales, clientes de diversas industrias en relación
  con incumplimiento de contratos entre empresas, creación de fondos fiduciarios,
  cumplimiento de obligaciones fiduciarias, proporcionar asesoramiento legal sobre títulos
  de crédito y cualesquier litigios comerciales que involucran prácticamente cualquier tipo de
  disputa que pueda surgir en el contexto comercial.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="civilb"></div>
