<div id="lenbar"> <a [routerLink]="['/inmobiliario']">Español</a></div>

<div id="navline"></div>
<div id="inmobiliario">
</div>
<div class="mybox">
<h2>REAL ESTATE</h2>
<p>We have broad experience in highly complex real estate transactions. We advise a wide
  variety of clients concerning negotiations for planning, construction, operation and
  management of office, commercial, tourist, residential, and industrial complexes. Title
  insurance companies look to us for advice regarding real estate throughout Mexico.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="inmobiliariob"></div>
