<div id="lenbar"> <a [routerLink]="['/prum-en']">English</a></div>

<div id="abogados">
  <div style="padding-top:120px"class = "row">
    <div class="col s12 m4 offset-m2">
      <a [routerLink]="['/arias']" style="padding-bottom:70px;"class="abogado">
        <h2>Oscar</h2>
        <p class="nopadding" style="padding-bottom:40px">Arias Corona</p>
      </a>
      <a [routerLink]="['/charua']" class="abogado">
        <h2>Elias</h2>
        <p>Charua García</p>
      </a>
    </div>
    <div class="col s12 m4">
      <a [routerLink]="['/macias']" class="abogado">
        <h2>David</h2>
        <p class="nopadding"  style="padding-bottom:40px">Macías León</p>
      </a>
      <a [routerLink]="['/prum']" class="abogado">
        <h2>Daniel</h2>
        <p>Prum Charua</p>
      </a>
    </div>
  </div>
</div>
<div class="mybox">
<h2>DANIEL</h2>
  <h3>Prum Charua</h3>
  <h4>TELÉFONO: (52) 1 758 699 23</h4>
<h4>EMAIL: danielprum@acmyp.com</h4>
<p class="gray">Daniel Prum Charua es socio de Arias, Charua, Macías & Prum, S.C., se especializa en
Derecho Civil, Derecho Familiar, Derecho Mercantil y Derecho Inmobiliario. El
licenciado Prum ha representado activamente a empresas de México, Estados Unidos,
Canadá, América Latina y Europa.</p>
  <h5>EDUCACIÓN</h5>
<p>El licenciado Prum es egresado de la Universidad Iberoamericana en donde recibió su
título de licenciado en Derecho en 2014. En 2016, el licenciado Prum participó en el
curso realizado por la University of Pennsylvania denominado “Negotiation Workshop”.</p>
  <h5>ASUNTOS REPRESENTATIVOS</h5>
<p>El licenciado Prum ha representado diferentes empresas nacionales y extranjeras en
  negociación de convenios comerciales, incumplimiento de contratos entre personas
  morales, fideicomisos, deudas fiduciarias, negociación de títulos de crédito, juicios
  ejecitos mercantiles relacionados con pagarés e incumplimientos contractuales, juicios
  ante autoridades locales y federales en relación a disputas comerciales y civiles, joint
  venture entre empresas, liquidación de empresas, obtención de permisos, asesoría legal y
  litigio en cuestiones inmobiliarias, incumplimiento por parte de aseguradoras, así como
  litigio en materia familiar.</p>
<p>Asimismo, también asiste a nuestros clientes proporcionando estrategias jurídicas en
  materia de sucesiones tanto testamentarias como intestamentarias, divorcios, patria
  potestad, guardia y custodia. Lo anterior, mediante convenios entre las partes, mediación
  y/o litigo ante autoridad jurisdiccional.</p>
<p>El licenciado Prum ha participado en diversos procedimientos en materia civil
  relacionado con asuntos de arrendamiento, prestamos, donaciones, compra-ventas,
  hipotecario, usufructo, inmobiliario, entre otros.</p>
<h5>IDIOMAS</h5>
<p>El idioma del licenciado Arias es el español y es fluido en el habla y escritura del idioma
inglés.</p>
  <div style="padding-bottom:50px;"></div>
</div>
