<div id="lenbar"><a [routerLink]="['/arias']">Español</a></div>

<div id="abogados">
  <div style="padding-top:120px" class="row">
    <div class="col s12 m4 offset-m2">
      <a [routerLink]="['/arias-en']" style="padding-bottom:70px;" class="abogado">
        <h2>Oscar</h2>
        <p class="nopadding" style="padding-bottom:40px">Arias Corona</p>
      </a>
      <a [routerLink]="['/charua-en']" class="abogado">
        <h2>Elias</h2>
        <p>Charua García</p>
      </a>
    </div>
    <div class="col s12 m4">
      <a [routerLink]="['/macias-en']" class="abogado">
        <h2>David</h2>
        <p class="nopadding" style="padding-bottom:40px">Macías León</p>
      </a>
      <a [routerLink]="['/prum-en']" class="abogado">
        <h2>Daniel</h2>
        <p>Prum Charua</p>
      </a>
    </div>
  </div>
</div>
<div class="mybox">
  <p>
  <h2>Oscar</h2>
  <h3>Arias Corona</h3>
  <h4>TELÉFONO: + (52) 1 758 699 23</h4>
  <h4>EMAIL: oscararias@acmyp.com</h4>
  <p class="gray">Oscar Arias Corona is a partner of Arias, Charua, Macías & Prum, S.C., specializing in
    Business Law, Agreements, Privacy and Personal Data, Telecommunications,
    Cybersecurity, Health Law, Advertising, Administrative Law, Mergers and Acquisitions
    and is the co-head of the areas of Intellectual Property, Entertainment Law,
    Pharmaceutical and Dispute Resolution. Mr. Arias has actively represented companies
    from Mexico, the United States, Canada, Latin America and Europe.</p>
  <h5>EDUCATION</h5>
  <p>Mr. Arias received his law degree in 2013 from Universidad La Salle; in 2013, he
    completed a specialization in Tax Law in the same university. In 2016, Mr. Arias
    completed his master degree in Human Rights at Instituto Tecnologico Autonomo de
    Mexico.</p>
  <h5>REPRESENTATIVE MATTERS</h5>
  <p> Mr. Arias represents major enterprises before Mexican government authorities for the
    protection of rights in matters of Intellectual Property Law, Licenses and Franchises,
    Entertainment Law, Constitutional Law, Electoral Law, Corporate Law, and Contract Law
    and Administrative Litigation, including Amparo claims before federal authorities.</p>
  <p>Mr. Arias represents different international and domestic corporations in obtaining
    registrations, licenses and permits from the Secretaría de Salud (Ministry of Health) and
    the Comisión Federal para la Protección contra Riesgos Sanitarios (Federal Commission
    for Protection from Health Risks) and prosecution of several administrative proceedings
    against authorities of the Secretaría de Salud (Ministry of Health), the Comisión Federal
    para la Proteccióncontra Riesgos Sanitarios (Federal Commission for Protection from
    Health Risks).As well, companies concerning registration and protection of all sorts of
    intellectual property rights, and the negotiation of transfer of technology and technical
    assistance agreements, and licensing and franchising arrangements, including
    administrative and judicial proceedings concerning infringement of trademarks,
    copyrights, patents and industrial secrets.</p>
  <p> Mr. Arias has also assisted our clients by providing legal advice on regulatory issues and
    advertising, advising them to comply with the provisions applicable to Federal
    Commission for Protection from Health Risks and Federal Consumer Protection Agency,
    as occurred in the acquisition of Quesos La Esmeralda, where he participated during the
    respective audit, advising the client on issues related to packing and advertising
    compliance.</p>
  <p> Mr. Arias has represented clients in all types of administrative litigation in general, related
    to advertiding, health, environmental issues and intellectual property before
    administrative authorities.</p>
  <p>Regarding data privacy issues, Mr. Arias has advised clients from different industries in
    the preparation and implementation of internal privacy policies, privacy notices and
    advice on related legal issues, not only during their daily activities, but also within the
    context of corporate transactions and internal investigations of compliance and
    anticorruption, where Mr. Arias has fundamentally supported pharmaceutical companies
    in investigations of external contractors and their activities in the context of customs
    procedures.</p>
  <h5>PUBLICATIONS AND SEMINARS</h5>
  <p>Mr. Arias has participated in The Data Protection and Privacy Global Guide and IP in
    Business Transactions: Mexico overview and articles issued by International Comparative
    Legal Guides Mexico 2018 regarding Cybersecurity.</p>
  <h5>LANGUAGES</h5>
  <p>Mr. Arias’s native language is Spanish and he is fluent in spoken and written English.</p>

  <div style="padding-bottom:50px;"></div>
</div>
