<div id="lenbar"> <a [routerLink]="['/farmaceutico']">Español</a></div>

<div id="navline"></div>
<div id="farmaceutico">
</div>
<div class="mybox">
  <h2>PHARMACEUTICAL</h2>
  <p>As part of its professional activities, this group has represented many of the largest and most
successful pharmaceutical, biotech, medical devices, chemicals and animal health
companies of the world, as well as a long list of recognized domestic laboratories seeking
full legal advice on the most important issues in the health sector and the Life science
arising from the application of Mexican law.</p>
<p>Our practice includes advising clients on matters related with the implementation of health
regulations by Mexican authorities for pharmaceuticals, medical devices, animal health,
herbalists and biotechnological products, chemicals, fungicides and herbicides, procedures
for obtaining marketing authorizations, permits, licenses and health records, as well as
compliance and protection of intellectual property rights related to these products (patents,
clinical data and patent litigation).</p>
<p>Likewise, our group advises clients on issues related to the renewal, cancellation and
voidance of marketing authorizations for pharmaceutical products, biotechnology, food,
ingredients, additives, supplies, chemical products, fungicides and herbicides, hazardous
substances, medical devices, herbal products, animal health, psychotropic and narcotics;
the obtention and/or cancellation of health licenses for all kinds of services related with the
manufacturing, commercialization and storage of such products establishments;
compliance with regulations and official Mexican standards relate with good
manufacturing practices for pharmacological compounds, food, ingredients, additives,
supplies, medical devices, chemicals, fungicides and herbicides and toxic materials as well
as on advertising of the aforementioned products.</p>
<p>Furthermore, our group of professionals serves our clients in strategy and implementation
for solving situations in health risks, such as, the recall of products with adverse effects or
that could endanger the health of people or animals and adoption of security measures such
as closures of establishments and sanctions by the health authorities. It has also developed
considerable experience in advising in all kinds of related government procurement of
pharmaceutical, biotechnology, food, ingredients, additives, supplies, chemicals, fungicides
and herbicides, hazardous substances, medical devices, herbal products, health events and
psychotropic and narcotics.</p>
<p>In addition, our group dedicated in the pharmaceutical area works in coordination with the
areas of intellectual property, litigation, administrative and corporate law of the Firm in
order to meet the requirements of the companies dedicated to the human and animal health
sectors.</p>
  <p>In our group of professionals are not chemists, doctors or technicians. In order for our
clients feel comfortable, all our technical assistance (engineers, chemists, doctors and other
health specialists) required for each of the cases are independently outsourced. Another
alternative, is that technical support issues are provided directly by our clients.</p>
<p>Finally, our group has provided legal services to non-profit or nongovernmental
organizations, regarding health rules governing the biotechnology, generic and clinical data
protection in Mexico.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="farmaceuticob"></div>
