<div id="lenbar"><a [routerLink]="['/nosotros']">Español</a></div>

<div id="nosotros">
  <div class="logo"><img id="logohome" src="/assets/logos/LOGO.png"></div>
  <img class="flechaDown" src="/assets/icons/FlechaAbajo.png" alt="ACMyP">
</div>
<div class="mybox">
  <h2>OUR MISSION</h2>
  <p>Offer high-level legal services, with a personalized attention to understand and resolve the
    problems of our clients.</p>
  <h2>OUR VISION</h2>
  <p>Be a global reference in the rendering of legal services, standing out for its wide legal
    knowledge, clients activities and needs.</p>
  <h2>OUR ORGANIZATIONAL CULTURE</h2>
  <p>Members of our Firm are focused on providing a service of excellence and being
    considered permanent advisors of their clients; always looking for their continuous
    upgrading, to remain at the cutting edge of the global legal and business environments.</p>
  <h2>OUR VALUES</h2>
  <p>Innovation, professionalism and dedication in the legal services provided to our clients,
    provide legal advice and counsel from a global perspective within the according legal
    framework and encouragement of innovation and entrepreneurship.</p>
  <div style="padding-bottom:50px;"></div>
</div>
