<div id="lenbar"> <a [routerLink]="['/corporativo']">Español</a></div>

<div id="navline"></div>
<div id="corporativo">
</div>
<div class="mybox">
  <h2>CORPORATE</h2>
<p>Arias, Charua, Macías & Prum provides legal services in all aspects of corporate law
  practice. Our group of professionals in this area has years of experience serving customers
  both nationally and internationally, with the most diverse needs and highest standards of
  service and sophistication. Among our customers are included leading companies
  worldwide in sectors such as technology, software and computer systems, cosmetics,
  automotive, food industry, aviation industry, hotel and tourism, the oil industry providers,
  among others.</p>
<p>We counsel our clients in the constitution of Mexican companies (commercial and civil)
  and associations, meeting the needs arising from the segment of the industry and / or trade
  in which their activities and plans are focused in the medium and long term, providing
  services in addition to compliance with regulatory requirements that may apply, including
  those arising from foreign direct investment, and obtaining necessary permits and licenses
  for operation.</p>
<p>Our services also extend to the provision of corporate services in the ordinary course of
  business of our clients, including advice on the preparation, review and negotiation of all
  types of civil and commercial contracts, and keeping, updating and maintenance of
  corporate books. Additionally, we provide service related to the opening and management
  of branches of foreign companies in Mexico services.</p>
<p>The Firm represents corporate groups, and / or national and foreign investment in the
  acquisition and / or merger with Mexican business entities, and sometimes we also
  represent Mexican entities acquired. In both cases, we provide statutory audit services to
  anticipate the possible contingencies of the operation, locating areas of opportunity, and
  help determine the value of the Company to be acquired. Also, in the behalf of the
  purchaser, we prepare the legal documentation of the transaction (specifically contracts for
  the sale of shares and / or association, with all attachments and accessory contracts), and
  carry out the negotiation thereof with the counterparty.</p>
<p>Likewise, in the cases above, we are directly involved in processing and obtaining any
  authorizations, permits, licenses and concession certificates required for the operation of
  our customers, and advise on notices and notifications to government entities, including
  notifications, resolutions and opinions the Federal Competition Commission.</p>
<p>We provide services for the development of mechanisms to anticipate and manage
  efficiently and effectively, potential conflicts between shareholders; in this regard, we have
  represented shareholder groups of Mexican companies in implementing corporate action to
  defend their interests against other shareholders and the company itself in internal matters
  of corporate control, usually in coordination with areas of commercial and civil litigation.</p>
<p>Depending on each project or operation, we rely on other specialty areas of the firm, in
  order to provide comprehensive services to the highest standards of quality and efficiency.</p>

  <div style="padding-bottom:50px;"></div>
</div>

<div id="corporativob"></div>
