<div id="lenbar"> <a [routerLink]="['/criminal']">English</a></div>

<div id="navline"></div>
<div id="penal">
</div>
<div class="mybox">
  <h2>DERECHO PENAL</h2>
  <p>En Arias, Charua, Macías & Prum, defendemos a personas y entidades en litigios penales
    de alto riesgo e investigaciones gubernamentales.</p>
  <p>Además, nuestro grupo de profesionales ha representado y defendido por completo los
    Derechos de Propiedad Intelectual ante la Procuraduría General de la República.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="penalb"></div>
