<div id="lenbar"> <a [routerLink]="['/propiedad']">Español</a></div>

<div id="navline"></div>
<div id="propiedad">
</div>
<div class="mybox">
  <h2>INTELLECTUAL PROPERTY AND ENTERTAINMENT</h2>
  <p>Our intellectual property and entertainment area is one of the main practices of the Firm.
Within the development of its activities, our group of professionals have represented a
variety of foreign and domestic companies engaged in different areas of industry and global
scale services, in a variety of matters related to trademarks, patents, trade secrets,
copyrights, domain names and other intellectual property rights.</p>
<p>The practice of this group also includes the development of processes of prior search and
registration of trademarks and service, obtaining patents, protection of industrial secrets,
registration of all kinds of copyright and related rights, including software, as well as the
protection and recovery of domain names, pages and blogs in social networks.</p>
<p>Similarly, this group is involved in negotiations of various types of contracts, such as
licensing and transmission of all kinds of intellectual property rights, franchising contracts,
technology transfer and technical assistance, literary and musical editing contracts,
recognition agreements paid collaboration, including incorporations of franchise and all
the contracts derived from such incorporation, among others.</p>
<p>This group is also actively involved in identifying and negotiating royalties for public
performance with different corporate governance, licensing for musical productions.</p>
<p>Furthermore, the group is constantly involved in administrative and judicial proceedings
management and contentious remedies, including the trial of Amparo in the defense and
protection of all types of intellectual property rights, including the handling of criminal
action to combat product apocryphal.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="propiedadb"></div>
