<div id="lenbar"> <a [routerLink]="['/trade']">English</a></div>
<div id="navline"></div>
<div id="comercio">
</div>
<div class="mybox">
<h2>COMERCIO INTERNACIONAL</h2>
<p>Proporcionamos asesoramiento legal a empresas nacionales y extranjeras, exportadores,
importadores y fabricantes involucrados en procedimientos antidumping, subsidios y
derechos compensatorios, así como toda clase de conflictos derivados del comercio
internacional, incluida la representación ante las autoridades gubernamentales y las
organizaciones de comercio internacional.</p>
  <div style="padding-bottom:50px;"></div>
</div>

<div id="comerciob"></div>
